.mainCon{
position: absolute;
top:0 ;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
height: 50%;
}
.title{
    /* font-size: 72px; */
    text-align: center;
    width: 30px;
}
/* 
.glowText {
  color: #000;
  font-size: 72px;
  text-align: center;
  text-shadow:  0 0 15px #028EC8;
  background: radial-gradient(circle , #028EC8 0%, black 90%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; 
} */
